<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Braver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F6F73BA25B2AD6000DFCB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6F73D025B2AD6300DFCB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6F73DB25B2AD6300DFCB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
